<div class="text-left ml-16 mt-20 md:ml-40 md:mr-16">
  <h2 class="text-lg font-medium tracking-wide">DISCLAIMER</h2>

  <p class="mt-2 mb-28">
    Trading in cryptocurrency is subject to market, technical, and regulatory
    risks. Please make your trades cautiously. TradeKIA will make the best
    efforts to choose high-quality coins, but will not be responsible for your
    trading losses.
  </p>
</div>
