<div class="lg:ml-80 lg:pl-36 md:ml-40 md:pl-24 mt-8 ml-16">
  <img
    src="../../public/images/tradekiakya.jpg"
    alt="tradekiya"
    class="h-20 w-96 justify-center items-center text-center rounded-xl"
  />
</div>
