<div class="text-center ml-16 mt-16">
  <h2 class="text-xl font-bold tracking-wide">IMPORTANT</h2>
  <p class="mt-4">Please do not reply to this email</p>

  <p class="mt-8">For any queries</p>
  <p class="mt-2 font-semibold tracking-wide">
    Reach us at
    <a href="https://tradekia.com/" target="_blank">support@tradekia.com</a>
  </p>
  <p class="mt-6 tracking-wide">
    Please do not share your OTP, Password, or any sensitive information with
    anyone.
  </p>
</div>
