<div class="text-left ml-16 mt-20 md:ml-40 mr-2">
  <h2 class="text-lg font-medium tracking-wide">
    Subject-Deposit of
    <span class="underline">XYZ INR/USDT/COIN</span> Successful
  </h2>
  <h3 class="text-lg font-medium tracking-wide mt-4">
    Dear, <span class="underline"> Username</span>
  </h3>
  <p class="mt-6 md:mt-8">
    This is to notify you that a deposit of
    <span class="underline">XYZ INR/USDT/COIN</span> has been successful
    received in your TradeKia wallet.
  </p>
  <p class="mt-2">Please check your wallet balance now.</p>
  <p class="mt-8">Regards,</p>
  <p class="mt-2 font-medium tracking-wide">Team TradeKIA</p>
</div>
